body {
	background: #010101;
	overflow: hidden;
}

#sidebar {
	position: absolute;
	top: 0;
}

#replay {
	top:50px;
	left: 400px;
	position: absolute;
	margin: 0;
}

#replay_stage {
	width: 1500px;
	height: 900px;
}

main {
	padding: 10px;
}

