limit_req_zone $binary_remote_addr zone=api_limit:10m rate=1r/s;
server {
    listen $LISTEN_PORT;
    index index.html;

    server_name frontend;

    location / {
        index move.html index.html;
        root /usr/share/nginx/html/www;
    }

    location /healthy {
        return 200 'success';
        add_header Content-Type text/plain;
    }

    # API endpoints for public facing areas
    location /api/program {
        limit_req zone=api_limit;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass $SERVER_HOST/program;

    }
    location /api/test_round {
        limit_req zone=api_limit;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass $SERVER_HOST/test_round;
    }

    # Admin only stuff.
    location /admin/ {
        auth_basic "Hackathon Tools";
        auth_basic_user_file /etc/nginx/auth.conf;

        location /admin/token {
            alias /usr/share/nginx/html/tokener;
        }
        location /admin/replay {
            alias /usr/share/nginx/html/replay;
        }
        location /admin/leaderboard {
            alias /usr/share/nginx/html/leaderboard;
        }
        location /admin/api/token {
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_pass $SERVER_HOST/token;
        }
        location /admin/api/leaderboard {
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_pass $SERVER_HOST/leaderboard;
        }
        location /admin/api/journal {
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_pass $SERVER_HOST/journal;
        }
        location /admin/api/contenders {
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_pass $SERVER_HOST/contenders;
        }
        location /admin/api/status {
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_pass $SERVER_HOST/status;
        }
    }
}
