h2 button {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

.container {
	margin: 0 auto 100px;
}

.center-block {
	left: 40%;
	margin-right: 60%;
	position: absolute;
	max-width: 100px;
}

.spaced {
    margin: 100px 50px;
}

.grab-icon {

}

.grab-icon {
	height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.grab-icon:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

input {
	padding-left: 7px;
}

img#header {
	margin-bottom: 50px;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
}

h4 {
	text-align: center;
	background: black;
    color: white;
    padding: 20px 10px;
	border: 1px solid white;
}

li {
	border: none !important;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

table img {
	max-width: 80vw;
}

.only-mobile {
	display: none;
}

#popup-close {
	display: none;
}

#alert-container {
	position: fixed;
    width: 100%;
    z-index: 12;
    top: 20px;
    left: 0;
}

div#sys-login{
    max-width: 400px;
    margin: 50px auto;
}

div#sys-login li{
    border: none;
	display: flex;
    justify-content: center;
    align-items: center;
}

div#sys-login li input {
	margin-left: 10px;
}

div#sys-login i{
	text-align: center;
    max-width: 70%;
    margin: 10px auto 0;
}

div#program-instructions {
	display: flex;
}

div.instructions-col {
	width: 49%;
}

div#program-list {
	max-width: 330px;
}

div#content .row {
	margin: auto;
}

div#program-instructions #program-list, div#content {
	margin: auto;
}

ul#program-list li, div#content li {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

#open-program-list {
	display: none;
}

div.journal_entry_code {
	font-family: monospace;
	text-transform: uppercase;
	font-size: 1.5em;
}

div.journal_entry {
	border-bottom: 1px solid white;
}

div#test-summary {
	border-bottom: 1px solid white;
	margin: 20px auto;
    padding-bottom: 30px;
    max-width: 533px;
}

#legend {
	margin: 20px auto;
    padding: 0 0 30px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#legend li {
	border: none !important;
	list-style-type: none;
	display: flex;
    margin: 10px 25px;
    align-items: center;
}

li .blue-square {
	width: 37px;
    height: 37px;
    margin-right: 10px;
    background: #007EE4;
}

li .red-square {
	width: 37px;
    height: 37px;
    margin-right: 10px;
    background: #B70101;
}

li .green-square {
	width: 37px;
    height: 37px;
    margin-right: 10px;
    background: url('green.png');
	background-size: contain;
}

.move-btn {
	width: 37px;
    height: 38px;
    background: #212529;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: .25rem;
}

.program-controls {
	display: flex;
    width: 117px;
    justify-content: space-between;
}

div.journal_entry_died {
	color: red;
	font-weight: bold;
}

div.journal_entry_stack {
	font-family: monospace;
}

div#test_program_canvas p {
	text-align: center;
	width: 384px;
}
div#test_program_canvas canvas {
	display: block;
}

div#text_mode_entry {
	display: none;
}

div#text_mode_entry textarea {
	font-family: monospace;
	font-size: 18px;
	text-transform: uppercase;
}

.btn-lg {
	margin: 5px;
}

/* responsive */

@media screen and (max-width: 990px) {
	.spaced {
		margin: 100px 0;
	}
	#intro {
		margin-top: 0;
	}
	.btn-lg {
		width: 210px;
		margin: 5px auto;
	}
}

@media screen and (max-width: 850px) {
	#test_program_output img {
		max-width: 100%;
		object-fit: contain;
	}
}

@media screen and (max-width: 800px) {
	.grab-icon {
		display: none;
	}
	#open-program-list {
		display: block;
	}
	#add-instruction-list {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		overflow: scroll;
		background: white;
		z-index: 10;
	}
	#popup-close {
		position: absolute;
		width: 40px;
		height: 40px;
		padding: 10px;
		cursor: pointer;
		top: 14px;
		right: 26px;
		display: block;
	}
	.mobile-show {
		display: block !important;
	}
	.only-mobile {
		display: inline;
	}
	#program-code {
		width: 100%;
		margin:auto;
	}
	#content {
		padding: 0 20px;
	}
	#text_mode_btn {
		display: none;
	}

}

@media screen and (max-width: 575px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	.btn-lg {
		width: 100%;
	}
	#text_mode_btn {
		display: none;
	}

}

@media screen and (max-width: 500px) {
	#add-instruction-list h4 {
		padding: 20px 14%;
	}
	#text_mode_btn {
		display: none;
	}

}

@media screen and (max-width: 410px) {
	#legend {
		justify-content: start;
	}
	h4 {
		font-size: 16px;
	}
	ul#program-list li, div#content li {
		padding: 2px;
	}
	.btn-lg span{
		display: none;
	}

	#text_mode_btn {
		display: none;
	}

}

div.card-body th {
	background: #020;
	color: white;
	font-family: monospace;
	font-size: 20px;
}

div.card-body tr {
	color: white;
}

div.card-body {
	background: #111;
}

canvas {
	margin: auto;
	display: block;
	margin-top: 30px;
}

pre {
	width: 80%;
	margin-left: 2em;
	margin-bottom: 0px;
}

code {
	display: block;
	margin-left: 1em;
	color: white;
}

p {
	margin-top: 1rem;
}

body {
	background: #000;
	color: #fff;
}

div.card-header {
	background: #020;
}


div.card-header button {
	color: #0f0;
	font-weight: bold;
	font-family: monospace;
	transition: none;
	font-size: 18px;
	
}
